<launch>

    <rosparam file="$(find igus_arm_driver)/config/arm_setup.yaml" />
    <env name="ROSCONSOLE_CONFIG_FILE"
       value="$(find igus_arm_driver)/config/verbosity.conf"/>

    <node name="igus_arm_driver_hard_node" pkg="igus_arm_driver" type="igus_arm_driver_hard_node" output="screen"/>

</launch>
